
    


<%= form_with model: @invitation, url: cycle_invitations_path(@cycle) do |f| %>

  <h3 id='modal-header'>Share <%= @cycle.name %> cycle with a new Customer</h3>

  <div class="field">
    <%= f.label :customer_email %><br />
    <%= f.email_field :customer_email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>

  <%= f.hidden_field :cycle_id, :value => @cycle.id %>

  <div class="actions">
    <%= f.submit "SEND INVITATION", id: 'submit-button'%>
  </div>


<% end %>